<% if (images) { %>
    <section class="py-1">
        <div id="lightbox-room-<%= index %>" class="container lightbox">
            <div class="row min-vh-25">
                <% images.forEach(image => { %>
                    <div class="col-sm-4 col-12 mb-3 mt-3">
                        <a href="/images/indoors/<%= route %>/<%= image.name %>" target="_blank" class="lb"
                           data-pswp-width="<%= image.width %>" data-pswp-height="<%= image.height %>">
                            <img src="/images/indoors/<%= route %>/<%= image.name %>"
                                 alt="<%= image.name.replace(/\.webp/, '') %>"
                                 class="w-100 h-100 border-radius-lg bg-cover shadow" loading="lazy">
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>
<% } %>
