<% if (images) { %>
    <section class="py-1">
        <div id="lightbox-room-<%= index %>" class="container lightbox-room">
            <% images.forEach((image, index) => { %>
                <a src="/images/indoors/<%= route %>/<%= image %>" class="lb">
                    <img src="/images/indoors/<%= route %>/<%= image %>"
                         alt="<%= image.replace(/\.webp/, '') %>"/>
                </a>
            <% }); %>
        </div>
    </section>
<% } %>
