<% if (images) { %>
    <section class="py-1">
        <div class="container">
            <div class="mx-auto">
                <div id="roomPhotosCarousel<%= route %>" class="carousel carousel-dark mb-3" data-bs-ride="false">
                    <div class="carousel-indicators">
                        <% images.forEach((image, index) => { %>
                            <% if (index === 0) { %>
                                <button type="button" data-bs-target="#roomPhotosCarousel<%= route %>"
                                        data-bs-slide-to="<%= index %>"
                                        class="active" aria-current="true" aria-label="Slide <%= index %>"></button>
                            <% } else { %>
                                <button type="button" data-bs-target="#roomPhotosCarousel<%= route %>"
                                        data-bs-slide-to="<%= index %>" aria-label="Slide <%= index %>"></button>
                            <% } %>
                        <% }); %>
                    </div>
                    <div class="carousel-inner border-radius-sm">
                        <% images.forEach((image, index) => { %>
                            <% if (index === 0) { %>
                                <div class="carousel-item active" style="height: 90vh">
                                    <img class="d-block w-100"
                                         src="/images/indoors/<%= route %>/<%= image %>"
                                         alt="<%= image.replace(/\.webp/, '') %>"/>
                                </div>
                            <% } else { %>
                                <div class="carousel-item" style="height: 90vh">
                                    <img class="d-block w-100"
                                         src="/images/indoors/<%= route %>/<%= image %>"
                                         alt="<%= image.replace(/\.webp/, '') %>"/>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#roomPhotosCarousel<%= route %>"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#roomPhotosCarousel<%= route %>"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
<% } %>
