<%- include('../partials/html-top.ejs') %>
<%- include('../partials/nav.ejs') %>

<%- include('../partials/room-header.ejs') %>

<section class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ms-auto me-auto">
                <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm"><%= t('room.the-room') %></h6>
                <h3 class="title mb-4"><%= t('storehouse.title') %></h3>
                <p class="text-dark">
                    <%= t('storehouse.desc.1') %>
                    <br> <br>
                    <%= t('storehouse.desc.2') %>
                    <br> <br>
                    <%= t('storehouse.desc.3') %>
                </p>
            </div>
        </div>
    </div>

    <section class="py-5">
        <div class="container">
            <div class="row min-vh-25">
                <div class="col-sm-4 col-5 mb-sm-0 mb-3">
                    <div style="background-image: url(/images/indoors/storehouse/kitchen.jpg); background-position: center"
                         class="w-100 h-100 border-radius-lg bg-cover"></div>
                </div>
                <div class="col-sm-3 col-7 mb-sm-0 mb-3">
                    <div style="background-image: url(/images/indoors/storehouse/bath.jpg); background-position: center"
                         class="w-100 h-100 border-radius-lg bg-cover"></div>
                </div>
                <div class="col-sm-5 mb-sm-0 mb-3">
                    <div style="background-image: url(/images/indoors/storehouse/kitchen-2.jpg); background-position:
                    center"
                         class="w-100 h-100 border-radius-lg bg-cover"></div>
                </div>
            </div>
            <div class="row min-vh-25 mt-4">
                <div class="col-sm-3 col-7 mb-sm-0 mb-3">
                    <div style="background-image: url(/images/indoors/storehouse/living-room.jpg); background-position:
                    right"
                         class="w-100 h-100 border-radius-lg bg-cover"></div>
                </div>
                <div class="col-sm-5 col-5 mb-sm-0 mb-3">
                    <div style="background-image: url(/images/indoors/storehouse/beds.jpg); background-position: center"
                         class="w-100 h-100 border-radius-lg bg-cover"></div>
                </div>
                <div class="col-sm-4 mb-sm-0 mb-3">
                    <div style="background-image: url(/images/indoors/storehouse/beds-2.jpg); background-position:
                    center"
                         class="w-100 h-100 border-radius-lg bg-cover"></div>
                </div>
            </div>
        </div>
    </section>
</section>

<%- include('../partials/room-footer.ejs') %>

<%- include('../partials/footer.ejs') %>
