<%- include('../partials/html-top.ejs') %>
<%- include('../partials/nav.ejs') %>
<%- include('../partials/room-header.ejs') %>

<section class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ms-auto me-auto">
                <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm"><%= t('room.the-room') %></h6>
                <h3 class="title mb-4"><%= t('storehouse.title') %></h3>
                <p class="text-dark">
                    <%= t('storehouse.desc.1') %>
                    <br> <br>
                    <%= t('storehouse.desc.2') %>
                    <br> <br>
                    <%= t('storehouse.desc.3') %>
                </p>
            </div>
        </div>
    </div>

    <%- include('../partials/room-photo-carousel.ejs', {images: images[0], route: rooms[0]}) %>
</section>

<%- include('../partials/facilities.ejs') %>
<%- include('../partials/social-footer.ejs') %>
<%- include('../partials/footer.ejs') %>
