<%- include('../partials/html-top.ejs') %>
<%- include('../partials/nav.ejs') %>

<%- include('../partials/room-header.ejs') %>

<section class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ms-auto me-auto">
                <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm"><%= t('room.the-room') %></h6>
                <h3 class="title mb-4"><%= t('studios.title') %></h3>
                <p class="text-dark">
                    <%= t('studios.desc.1') %>
                </p>
            </div>
        </div>
    </div>

    <section class="py-5">
        <div class="container">
            <div class="row min-vh-25">
                <div class="col-sm-4 col-5 mb-sm-0 mb-3">
                    <div style="background-image: url(/images/indoors/studios/studio.jpg); background-position: center;"
                         class="w-100 h-100 border-radius-lg bg-cover"></div>
                </div>
                <div class="col-sm-3 col-7 mb-sm-0 mb-3">
                    <div style="background-image: url(/images/indoors/studios/studio-2.jpg); background-position: center;"
                         class="w-100 h-100 border-radius-lg bg-cover"></div>
                </div>
                <div class="col-sm-5 mb-sm-0 mb-3">
                    <div style="background-image: url(/images/indoors/studios/studio-3.jpg); background-position: center;"
                         class="w-100 h-100 border-radius-lg bg-cover"></div>
                </div>
            </div>
            <!--            <div class="row min-vh-25 mt-4">-->
            <!--                <div class="col-sm-3 col-7 mb-sm-0 mb-3">-->
            <!--                    <div style="background-image: url(&#39;../../assets/img/pricing1.jpg&#39;)"-->
            <!--                         class="w-100 h-100 border-radius-lg bg-cover"></div>-->
            <!--                </div>-->
            <!--                <div class="col-sm-5 col-5 mb-sm-0 mb-3">-->
            <!--                    <div style="background-image: url(&#39;../../assets/img/card-blog10.jpg&#39;)"-->
            <!--                         class="w-100 h-100 border-radius-lg bg-cover"></div>-->
            <!--                </div>-->
            <!--                <div class="col-sm-4 mb-sm-0 mb-3">-->
            <!--                    <div style="background-image: url(&#39;../../assets/img/card-blog11.jpg&#39;)"-->
            <!--                         class="w-100 h-100 border-radius-lg bg-cover"></div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </section>
</section>

<%- include('../partials/room-footer.ejs') %>

<%- include('../partials/footer.ejs') %>
