<%- include('../partials/html-top.ejs') %>
<%- include('../partials/nav.ejs') %>
<%- include('../partials/room-header.ejs') %>

<section class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ms-auto me-auto">
                <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm"><%= t('room.the-room') %></h6>
                <h3 class="title mb-4"><%= t('studios.title') %></h3>
                <p class="text-dark">
                    <%= t('studios.desc.1') %>
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <% rooms.forEach((room, index) => { %>
            <h5 class="opacity-7 text-uppercase font-weight-bolder mt-5 text-center">
                <%= room.replace('-', ' ') %>
            </h5>

            <%- include('../partials/room-lightbox.ejs', {index: index, images: images[index], route: rooms[index]}) %>
        <% }); %>
    </div>

</section>

<%- include('../partials/facilities.ejs') %>
<%- include('../partials/social-footer.ejs') %>
<%- include('../partials/footer.ejs') %>
