<%- include('partials/html-top.ejs') %>
<%- include('partials/nav.ejs') %>

<header>
    <div class="page-header min-vh-85">
        <div>
            <img class="position-absolute fixed-top ms-auto w-100 w-md-50 h-100 z-index-0 d-block border-radius-xl
            border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0
            border-radius-bottom-start-0-mb loaded"
                 src="/images/outdoors/outdoors-12.webp" alt="outdoors-12"
                 style="object-fit: cover; object-position:center">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 d-flex">
                    <div class="card card-body text-md-start text-center px-sm-5 shadow mt-sm-5 py-sm-5">
                        <h1 class="text-dark mb-4 h2"><%= t('header.title') %></h1>
                        <p class="lead pe-md-5 me-md-5">
                            <%= t('header.text') %>
                        </p>
                        <div class="buttons">
                            <a href="https://razis.reserve-online.net/"
                               class="btn text-bolder btn text-bolder-rounded bg-gradient-primary mt-4">
                                <%= t('nav.book-now') %>
                            </a>
                            <a href="#about-us" class="btn text-bolder btn-rounded btn btn-outline-secondary
                            mt-4 ms-2">
                                <%= t('buttons.read-more') %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="pt-1 pt-md-5">
    <div class="container d-flex flex-column flex-md-row justify-content-center align-items-center">
        <a href="/espa"><img id="espa-image" class="img-fluid d-block espa-image" src="/images/espa/banner-en.webp"
                             alt="espa-banner"></a>
        <a href="/espa"><img id="espa-image-ionia" class="img-fluid d-block espa-image"
                             src="/images/espa/banner-ionia-el.webp"
                             alt="espa-banner-ionia"></a>
    </div>
</div>

<section id="about-us" class="mt-7">
    <div class="container lightbox">
        <div class="row">
            <div class="col-md-6 ms-auto me-auto text-center">
                <h2><%= t('first-section.title') %></h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 position-relative">
                <div class="position-relative ms-md-5 me-md-n5">
                    <a class="lb" href="/images/outdoors/outdoors-22.webp"
                       data-pswp-width="1440" data-pswp-height="1080">
                        <img class="image-left shadow rounded-3 img-fluid position-relative top-0 end-0 bg-cover"
                             src="/images/outdoors/outdoors-22.webp" alt="storehouse-0" loading="lazy">
                    </a>
                </div>
                <div class="position-absolute bottom-0 mb-5 ms-n2 me-3 start-0 end-2 d-md-block d-none">
                    <a class="lb" href="/images/outdoors/outdoors-2.webp"
                       data-pswp-width="1440" data-pswp-height="1080">
                        <img class="image-container shadow rounded-3 img-fluid position-relative bg-cover"
                             src="/images/outdoors/outdoors-2.webp" alt="outdoors-2" loading="lazy">
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="position-relative ms-n4 mb-5 mt-8 d-md-block d-none">
                    <a class="lb" href="/images/outdoors/outdoors-16.webp"
                       data-pswp-width="1440" data-pswp-height="1080">
                        <img class="image-right shadow rounded-3 img-fluid position-relative bg-cover"
                             src="/images/outdoors/outdoors-16.webp" alt="writers-room-3" loading="lazy">
                    </a>
                </div>
                <p class="mt-6">
                    <%= t('first-section.text-1') %>
                </p>
                <p>
                    <%= t('first-section.text-2') %>
                </p>
                <p>
                    <%= t('first-section.text-3') %>
                </p>
            </div>
        </div>
    </div>
</section>

<% if (testimonials.status === 'OK') { %>
    <section class="py-5 bg-dark position-relative overflow-hidden mt-5">
        <div class="container pt-6 pb-5 position-relative z-index-1">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <span class="badge badge-white text-dark mb-2"><%= t('testimonials.testimonials') %></span>
                    <h2 class="text-white mb-3"><%= t('testimonials.title') %></h2>
                </div>
            </div>
            <div class="row mt-5">
                <% testimonials.reviews.forEach(review => { %>
                    <div class="col-md-4 mb-md-0 mb-7">
                        <div class="card" style="height: 100%">
                            <div class="card-body text-center pb-0">
                                <h4 class="mb-0"><%= review.name %></h4>
                                <p><%= review.relativeTime %></p>
                                <p class="mt-2">
                                    <%= review.text.substring(0, 150) %>...
                                </p>
                            </div>
                            <div class="card-footer text-center pt-2">
                                <div class="mx-auto">
                                    <svg class="opacity-2" width="60px" height="60px" viewBox="0 0 270 270"
                                         version="1.1"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <title>quote-down</title>
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M107.000381,49.033238 C111.792099,48.01429 115.761022,48.6892564 116.625294,50.9407629 C117.72393,53.8028077 113.174473,58.3219079 107.017635,60.982801 C107.011653,60.9853863 107.00567,60.9879683 106.999688,60.990547 C106.939902,61.0219589 106.879913,61.0439426 106.820031,61.0659514 C106.355389,61.2618887 105.888177,61.4371549 105.421944,61.5929594 C88.3985192,68.1467602 80.3242628,76.9161885 70.3525495,90.6906738 C60.0774843,104.884196 54.9399518,119.643717 54.9399518,134.969238 C54.9399518,138.278158 55.4624127,140.716309 56.5073346,142.283691 C57.2039492,143.328613 57.9876406,143.851074 58.8584088,143.851074 C59.7291771,143.851074 61.0353294,143.241536 62.7768659,142.022461 C68.3497825,138.016927 75.4030052,136.01416 83.9365338,136.01416 C93.8632916,136.01416 102.658051,140.063232 110.320811,148.161377 C117.983572,156.259521 121.814952,165.88151 121.814952,177.027344 C121.814952,188.695638 117.417572,198.970703 108.622813,207.852539 C99.828054,216.734375 89.1611432,221.175293 76.6220807,221.175293 C61.9931745,221.175293 49.3670351,215.166992 38.7436627,203.150391 C28.1202903,191.133789 22.8086041,175.024577 22.8086041,154.822754 C22.8086041,131.312012 30.0359804,110.239421 44.490733,91.6049805 C58.2196377,73.906272 74.3541002,59.8074126 102.443135,50.4450748 C102.615406,50.3748509 102.790055,50.3058192 102.966282,50.2381719 C104.199241,49.7648833 105.420135,49.3936487 106.596148,49.1227802 L107,49 Z M233.000381,49.033238 C237.792099,48.01429 241.761022,48.6892564 242.625294,50.9407629 C243.72393,53.8028077 239.174473,58.3219079 233.017635,60.982801 C233.011653,60.9853863 233.00567,60.9879683 232.999688,60.990547 C232.939902,61.0219589 232.879913,61.0439426 232.820031,61.0659514 C232.355389,61.2618887 231.888177,61.4371549 231.421944,61.5929594 C214.398519,68.1467602 206.324263,76.9161885 196.352549,90.6906738 C186.077484,104.884196 180.939952,119.643717 180.939952,134.969238 C180.939952,138.278158 181.462413,140.716309 182.507335,142.283691 C183.203949,143.328613 183.987641,143.851074 184.858409,143.851074 C185.729177,143.851074 187.035329,143.241536 188.776866,142.022461 C194.349783,138.016927 201.403005,136.01416 209.936534,136.01416 C219.863292,136.01416 228.658051,140.063232 236.320811,148.161377 C243.983572,156.259521 247.814952,165.88151 247.814952,177.027344 C247.814952,188.695638 243.417572,198.970703 234.622813,207.852539 C225.828054,216.734375 215.161143,221.175293 202.622081,221.175293 C187.993174,221.175293 175.367035,215.166992 164.743663,203.150391 C154.12029,191.133789 148.808604,175.024577 148.808604,154.822754 C148.808604,131.312012 156.03598,110.239421 170.490733,91.6049805 C184.219638,73.906272 200.3541,59.8074126 228.443135,50.4450748 C228.615406,50.3748509 228.790055,50.3058192 228.966282,50.2381719 C230.199241,49.7648833 231.420135,49.3936487 232.596148,49.1227802 L233,49 Z"
                                                  fill="#48484A" fill-rule="nonzero"
                                                  transform="translate(135.311778, 134.872794) scale(-1, -1) translate(-135.311778, -134.872794) "></path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>
<% } %>

<section class="py-5 mt-5">
    <div class="container lightbox">
        <div class="row">
            <div class="col-8 mx-auto text-center mb-5">
                <h2><%= t('photo-section.title') %></h2>
            </div>
        </div>
        <div class="row min-vh-25">
            <div class="col-sm-4 mb-sm-0 mb-3">
                <a class="lb" href="/images/indoors/writers-room/writers-room-2.webp"
                   data-pswp-width="1440" data-pswp-height="1080">
                    <img src="/images/indoors/writers-room/writers-room-2.webp" alt="writers-room-2"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
            <div class="col-sm-5 col-5 mb-sm-0 mb-3">
                <a class="lb" href="/images/indoors/maisonette/maisonette-4.webp"
                   data-pswp-width="1440" data-pswp-height="1080">
                    <img src="/images/indoors/maisonette/maisonette-4.webp" alt="maisonette-4"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
            <div class="col-sm-3 col-7 mb-sm-0 mb-3">
                <a class="lb" href="/images/indoors/storehouse/storehouse-5.webp"
                   data-pswp-width="949" data-pswp-height="1080">
                    <img src="/images/indoors/storehouse/storehouse-5.webp" alt="storehouse-5"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
        </div>
        <div class="row min-vh-25 mt-4">
            <div class="col-sm-4 col-5 mb-sm-0 mb-3">
                <a class="lb" href="/images/outdoors/outdoors-8.webp"
                   data-pswp-width="1440" data-pswp-height="1080">
                    <img src="/images/outdoors/outdoors-8.webp" alt="outdoors-8"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
            <div class="col-sm-3 col-7 mb-sm-0 mb-3">
                <a class="lb" href="/images/outdoors/outdoors-21.webp"
                   data-pswp-width="1440" data-pswp-height="1080">
                    <img src="/images/outdoors/outdoors-21.webp" alt="outdoors-21"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
            <div class="col-sm-5 mb-sm-0 mb-3">
                <a class="lb" href="/images/outdoors/outdoors-11.webp"
                   data-pswp-width="1440" data-pswp-height="1080">
                    <img src="/images/outdoors/outdoors-11.webp" alt="outdoors-11"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
        </div>
        <div class="row min-vh-25 mt-4">
            <div class="col-sm-3 col-7 mb-sm-0 mb-3">
                <a class="lb" href="/images/indoors/apartments/apartment-0.webp"
                   data-pswp-width="810" data-pswp-height="1080">
                    <img src="/images/indoors/apartments/apartment-0.webp" alt="apartment-0"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
            <div class="col-sm-5 col-5 mb-sm-0 mb-3">
                <a class="lb" href="/images/indoors/writers-room/writers-room-0.webp"
                   data-pswp-width="1440" data-pswp-height="1080">
                    <img src="/images/indoors/writers-room/writers-room-0.webp" alt="writers-room-0"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
            <div class="col-sm-4 mb-sm-0 mb-3">
                <a class="lb" href="/images/indoors/budget-studios/budget-studio-0.webp"
                   data-pswp-width="1440" data-pswp-height="1080">
                    <img src="/images/indoors/budget-studios/budget-studio-0.webp" alt="budget-studio-0"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
        </div>
        <div class="row min-vh-25 mt-4">
            <div class="col-sm-5 mb-sm-0 mb-3">
                <a class="lb" href="/images/outdoors/outdoors-4.webp"
                   data-pswp-width="1440" data-pswp-height="1080">
                    <img src="/images/outdoors/outdoors-4.webp" alt="outdoors-4"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
            <div class="col-sm-3 col-7 mb-sm-0 mb-3">
                <a class="lb" href="/images/outdoors/outdoors-7.webp"
                   data-pswp-width="1440" data-pswp-height="1080">
                    <img src="/images/outdoors/outdoors-7.webp" alt="outdoors-7"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
            <div class="col-sm-4 col-5 mb-sm-0 mb-3">
                <a class="lb" href="/images/outdoors/outdoors-18.webp"
                   data-pswp-width="1447" data-pswp-height="1080">
                    <img src="/images/outdoors/outdoors-18.webp" alt="outdoors-18"
                         class="w-100 h-100 border-radius-lg bg-cover" loading="lazy">
                </a>
            </div>
        </div>

        <div class="ms-auto text-center mt-5">
            <a href="/rooms" class="btn text-bolder bg-gradient-info mb-0"><%= t('buttons.discover') %></a>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6 mx-auto text-center">
                <h2><%= t('faq.title') %></h2>
                <p><%= t('faq.subtitle') %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="accordion" id="accordionRental">
                    <div class="accordion-item mb-3">
                        <h5 class="accordion-header" id="headingOne">
                            <button class="accordion-button border-bottom font-weight-bold text-start" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                <%= t('faq.q1') %>
                                <i class="collapse-rotate fas fa-chevron-down text-xs text-primary pt-1 position-absolute end-0 me-3"></i>
                            </button>
                        </h5>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordionRental">
                            <div class="accordion-body text-sm opacity-8">
                                <%= t('faq.a1') %>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h5 class="accordion-header" id="headingTwo">
                            <button class="accordion-button border-bottom font-weight-bold text-start" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                <%= t('faq.q2') %>
                                <i class="collapse-rotate fas fa-chevron-down text-xs text-primary pt-1 position-absolute end-0 me-3"></i>
                            </button>
                        </h5>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionRental">
                            <div class="accordion-body text-sm opacity-8">
                                <%= t('faq.a2') %>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h5 class="accordion-header" id="headingThree">
                            <button class="accordion-button border-bottom font-weight-bold text-start" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                <%= t('faq.q3') %>
                                <i class="collapse-rotate fas fa-chevron-down text-xs text-primary pt-1 position-absolute end-0 me-3"></i>
                            </button>
                        </h5>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionRental">
                            <div class="accordion-body text-sm opacity-8">
                                <%= t('faq.a3') %>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h5 class="accordion-header" id="headingFour">
                            <button class="accordion-button border-bottom font-weight-bold text-start" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                <%= t('faq.q4') %>
                                <i class="collapse-rotate fas fa-chevron-down text-xs text-primary pt-1 position-absolute end-0 me-3"></i>
                            </button>
                        </h5>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionRental">
                            <div class="accordion-body text-sm opacity-8">
                                <%= t('faq.a4') %>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-3">
                        <h5 class="accordion-header" id="headingFifth">
                            <button class="accordion-button border-bottom font-weight-bold text-start" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFifth" aria-expanded="false"
                                    aria-controls="collapseFifth">
                                <%= t('faq.q5') %>
                                <i class="collapse-rotate fas fa-chevron-down text-xs text-primary pt-1 position-absolute end-0 me-3"></i>
                            </button>
                        </h5>
                        <div id="collapseFifth" class="accordion-collapse collapse" aria-labelledby="headingFifth"
                             data-bs-parent="#accordionRental">
                            <div class="accordion-body text-sm opacity-8">
                                <%= t('faq.a5') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/effort-footer.ejs') %>
<%- include('partials/social-footer.ejs') %>
<%- include('partials/footer.ejs') %>
