<%- include('partials/html-top.ejs') %>
<%- include('partials/nav.ejs') %>

<header>
    <div id="zakynthos-icons" class="page-header min-vh-85">
        <div class="container lightbox my-auto">
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <h2 class="mb-0"><%= t('rooms.title') %> <span id="typed"></span></h2>
                    <div id="typed-strings">
                        <h2><%= t('rooms.typed.1') %></h2>
                        <h2><%= t('rooms.typed.2') %></h2>
                        <h2><%= t('rooms.typed.3') %></h2>
                    </div>
                    <div class="buttons">
                        <a href="#types"
                           class="btn text-bolder bg-gradient-info my-4 mb-lg-0"><%= t('buttons.discover') %></a>
                    </div>
                </div>
                <div class="col-lg-8 ps-0 ps-lg-5 pe-0">
                    <div class="row">
                        <div id="first-image-rooms" class="col-lg-3 col-6 mb-4 mb-lg-0">
                            <a class="lb" href="/images/outdoors/outdoors-17.webp"
                               data-pswp-width="1440" data-pswp-height="1080"> <img
                                        class="w-100 border-radius-lg h-50 shadow-lg mt-0 mt-lg-7"
                                        src="/images/outdoors/outdoors-17.webp" alt="outdoors-17"
                                        style="object-fit: cover; object-position: left;" loading="lazy">
                            </a>
                        </div>
                        <div id="second-image-rooms" class="col-lg-3 col-6">
                            <a class="lb" href="/images/outdoors/outdoors-13.webp"
                               data-pswp-width="1440" data-pswp-height="1080">
                                <img class="w-100 border-radius-lg h-50 shadow-lg"
                                     src="/images/outdoors/outdoors-13.webp" alt="outdoors-13"
                                     style="object-fit: cover; object-position: center;" loading="lazy">
                            </a>
                            <a class="lb" href="/images/outdoors/outdoors-14.webp"
                               data-pswp-width="1519" data-pswp-height="1080">
                                <img class="w-100 border-radius-lg h-50 shadow-lg mt-4 d-none d-lg-block"
                                     src="/images/outdoors/outdoors-14.webp" alt="outdoors-14"
                                     style="object-fit: cover;" loading="lazy">
                            </a>
                        </div>
                        <div class="col-lg-3 col-6">
                            <a class="lb" href="/images/outdoors/outdoors-16.webp"
                               data-pswp-width="1440" data-pswp-height="1080">
                                <img class="w-100 border-radius-lg h-50 shadow-lg mt-0 mt-lg-5"
                                     src="/images/outdoors/outdoors-16.webp" alt="outdoors-16"
                                     style="object-fit: cover; object-position: left;" loading="lazy">
                            </a>
                            <a class="lb" href="/images/outdoors/outdoors-3.webp"
                               data-pswp-width="1440" data-pswp-height="1080">
                                <img class="w-100 border-radius-lg h-50 shadow-lg mt-4"
                                     src="/images/outdoors/outdoors-3.webp" alt="outdoors-3"
                                     style="object-fit: cover; object-position: center;" loading="lazy">
                            </a>
                        </div>
                        <div class="col-lg-3 col-6">
                            <a class="lb" href="/images/outdoors/outdoors-20.webp"
                               data-pswp-width="1440" data-pswp-height="1080">
                                <img class="w-100 border-radius-lg h-50 shadow-lg mt-0 mt-lg-3"
                                     src="/images/outdoors/outdoors-20.webp" alt="outdoors-20"
                                     style="object-fit: cover; object-position: center;" loading="lazy">
                            </a>
                            <a class="lb" href="/images/outdoors/outdoors-4.webp"
                               data-pswp-width="1440" data-pswp-height="1080">
                                <img class="w-100 border-radius-lg h-50 shadow-lg mt-4"
                                     src="/images/outdoors/outdoors-4.webp" alt="outdoors-4"
                                     style="object-fit: cover; object-position: left;" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="types" class="pt-4 pb-4 pb-lg-8">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ms-auto me-auto text-center mb-5 mt-0 mt-lg-5">
                <h1 class="h2"><%= t('room-types.title') %></h1>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 justify-content-center d-flex flex-column">
                        <div class="card rounded-3">
                            <div class="d-block blur-shadow-image">
                                <img src="/images/indoors/budget-studios/budget-studio-0.webp" alt="budget-studio-0"
                                     class="img-fluid shadow rounded-3" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
                        <h3>
                            <a href="rooms/studios" class="text-dark text-decoration-underline-hover">
                                <%= t('room-types.studios') %>
                            </a>
                        </h3>
                        <p>
                            <%= t('room-types.studios-text') %>
                        </p>
                        <a href="rooms/studios" class="btn text-bolder bg-gradient-info btn text-bolder-sm w-50"
                           role="button">
                            <%= t('buttons.read-more') %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-5">
                <div class="row flex-row-reverse">
                    <div class="col-lg-6 justify-content-center d-flex flex-column">
                        <div class="card rounded-3">
                            <div class="blur-shadow-image">
                                <img src="/images/indoors/writers-room/writers-room-3.webp" alt="writers-room-3"
                                     class="img-fluid shadow rounded-3" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
                        <h3>
                            <a href="rooms/writers-room" class="text-dark text-decoration-underline-hover">
                                <%= t('room-types.writers-room') %>
                            </a>
                        </h3>
                        <p>
                            <%= t('room-types.writers-room-text') %>
                        </p>
                        <a href="rooms/writers-room" class="btn text-bolder bg-gradient-info btn text-bolder-sm w-50"
                           role="button">
                            <%= t('buttons.read-more') %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-5">
                <div class="row">
                    <div class="col-lg-6 justify-content-center d-flex flex-column">
                        <div class="card rounded-3">
                            <div class="d-block blur-shadow-image">
                                <img src="/images/indoors/one-bedroom/one-bedroom-4.webp" alt="one-bedroom-4"
                                     class="img-fluid shadow rounded-3" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
                        <h3>
                            <a href="rooms/apartments" class="text-dark text-decoration-underline-hover">
                                <%= t('room-types.apartments') %>
                            </a>
                        </h3>
                        <p>
                            <%= t('room-types.apartments-text') %>
                        </p>
                        <a href="rooms/apartments" class="btn text-bolder bg-gradient-info btn text-bolder-sm w-50"
                           role="button">
                            <%= t('buttons.read-more') %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-5">
                <div class="row flex-row-reverse">
                    <div class="col-lg-6 justify-content-center d-flex flex-column">
                        <div class="card rounded-3">
                            <div class="blur-shadow-image">
                                <img src="/images/indoors/storehouse/storehouse-2.webp" alt="storehouse-2"
                                     class="img-fluid shadow rounded-3" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
                        <h3>
                            <a href="rooms/storehouse" class="text-dark text-decoration-underline-hover">
                                <%= t('room-types.storehouse') %>
                            </a>
                        </h3>
                        <p>
                            <%= t('room-types.storehouse-text') %>
                        </p>
                        <a href="rooms/storehouse"
                           class="btn text-bolder text-bolder bg-gradient-info btn text-bolder-sm w-50" role="button">
                            <%= t('buttons.read-more') %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/facilities.ejs') %>
<%- include('partials/social-footer.ejs') %>
<%- include('partials/footer.ejs') %>
