<%- include('partials/html-top.ejs') %>
<%- include('partials/nav.ejs') %>

<section class="pt-3 pt-md-5 pb-md-5 pt-lg-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-lg-0 mb-3">
                <ul class="nav flex-column bg-white border-radius-lg p-3 position-sticky top-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll href="#general-terms">
                            <div class="icon me-2 mb-1">
                                <i class="ni ni-books text-primary"></i>
                            </div>
                            <%= t('tc.sidenav.1') %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll href="#cookies">
                            <div class="icon me-2 mb-1">
                                <i class="ni ni-bulb-61 text-primary"></i>
                            </div>
                            <%= t('tc.sidenav.2') %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll href="#hyperlinking">
                            <div class="icon me-2 mb-1">
                                <i class="ni ni-planet text-primary"></i>
                            </div>
                            <%= t('tc.sidenav.3') %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll href="#privacy">
                            <div class="icon me-2 mb-1">
                                <i class="ni ni-single-02 text-primary"></i>
                            </div>
                            <%= t('tc.sidenav.4') %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll href="#rights">
                            <div class="icon me-2 mb-1">
                                <i class="ni ni-single-copy-04 text-primary"></i>
                            </div>
                            <%= t('tc.sidenav.5') %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" data-scroll href="#disclaimer">
                            <div class="icon me-2 mb-1">
                                <i class="ni ni-archive-2 text-primary"></i>
                            </div>
                            <%= t('tc.sidenav.6') %>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="card mb-5">
                    <div class="card-header bg-gradient-primary p-5 position-relative">
                        <h3 class="text-white mb-0"><%= t('tc.title') %></h3>
                    </div>
                    <div class="card-body p-5">
                        <p id="general-terms"><%= t('tc.general.1') %></p>
                        <p><%= t('tc.general.2') %></p>
                        <p><%= t('tc.general.3') %></p>
                        <h3 class="mt-5 mb-3" id="cookies"><%= t('tc.sidenav.2') %></h3>
                        <p><%= t('tc.cookies.1') %></p>
                        <p><%= t('tc.cookies.2') %></p>
                        <h3 class="mt-5 mb-3" id="hyperlinking"><%= t('tc.sidenav.3') %></h3>
                        <p><%= t('tc.hyperlinking.1') %></p>
                        <p><%= t('tc.hyperlinking.2') %></p>
                        <ul>
                            <li><%= t('tc.hyperlinking.3') %></li>
                            <li><%= t('tc.hyperlinking.4') %></li>
                            <li><%= t('tc.hyperlinking.5') %></li>
                        </ul>
                        <p><%= t('tc.hyperlinking.6') %></p>
                        <h3 class="mt-5 mb-3" id="privacy"><%= t('tc.sidenav.4') %></h3>
                        <p><%= t('tc.privacy.1') %></p>
                        <h3 class="mt-5 mb-3" id="rights"><%= t('tc.sidenav.5') %></h3>
                        <p><%= t('tc.rights.1') %></p>
                        <h3 class="mt-5 mb-3" id="disclaimer"><%= t('tc.sidenav.6') %></h3>
                        <p><%= t('tc.disclaimer.1') %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>
